*,body{
    margin:0px;
    padding:0px;
}

#skyBody{
    position: absolute;
    top:20px;
}

#location{

}

#refreshButton{
	width:32px;
	height:32px;
	position:absolute;
	top:2%;
	right:2%;
	background-image:url(../images/refresh.png);
	background-repeat:no-repeat;
}

#refreshButton.animated{
	-webkit-animation: refresh 1s linear 0s infinite normal;
}

@-webkit-keyframes refresh{
	
	0%{ -webkit-transform:rotateZ(0deg); }
	25%{ -webkit-transform:rotateZ(90deg); }
	50% {-webkit-transform:rotateZ(180deg) ;}
	75% {-webkit-transform:rotateZ(270deg); }
	100% {-webkit-transform:rotateZ(360deg);}
}



.rainFall {
		-webkit-animation: raining 2s linear 0s infinite normal;
	}



	@-webkit-keyframes raining {
		0% {
			background-position: 0px 0px;
		}
		100% {
			background-position: 0px 200px;
		}
	}
